{% extends "base.html"%} 
{% block content %}
<!-- {% csrf_token %}  -->
<el-container style="background-color: #fff;">
                    <el-header style="margin:10px;">

                        <el-row style="margin-bottom: 10px;">
                            <el-button type="primary" icon="el-icon-plus" @click="handleEdit()">新增</el-button>
                        </el-row>
                    </el-header>
                    <el-container>
                        <el-main v-show="list">
                            <el-table
                                    ref="multipleTable"
                                    :data="list"
                                    tooltip-effect="dark"
                                    style="width: 100%"
                                    highlight-current-row
                                    height="340"
                                    default-expand-all
                                    row-key="id"
                                    :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
                                    @selection-change="handleSelectionChange">
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                
                                <el-table-column
                                        prop="name"
                                        label="菜单名称"
                                        width="200" show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column
                                        prop="status_str"
                                        label="状态"
                                        width="200" show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column
                                        prop="url"
                                        label="路由"
                                        width="240" show-overflow-tooltip>
                                </el-table-column>
                                <el-table-column label="操作" width="270" fixed="right">
                                    <template slot-scope="scope">
                                        <el-button size="mini" type="success"
                                                   @click="handleEdit(scope.$index,scope.row)" plain
                                                   class="el-icon-folder-opened">编辑
                                        </el-button>
                                        <el-button size="mini" type="danger" plain class="el-icon-delete"
                                                   @click="handleDelete(scope.$index, scope.row)">删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-main>
                        <el-footer>
                            <el-pagination
                                    :page-size="10"
                                    layout="prev, pager, next"
                                    :total="4">
                            </el-pagination>
                        </el-footer>
                    </el-container>
                </el-container>
{% endblock %}


{% block form %}
<!--添加修改表单 -->
<el-dialog  :title="addMenu.addMenuTitle" :visible.sync="addMenu.addMenuVisible">
    
        <el-form ref="editForm" :model="editForm" :rules="editRules" :label-width="addMenu.formLabelWidth">
            <el-form-item label="父级菜单" required prop="pid">
                <el-select v-model="editForm.pid" placeholder="请选择父级菜单">
                    <el-option label="主菜单" value="0"></el-option>
                    <el-option
                            v-for="item in menuSelectList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="图标" >
                <el-select v-model="editForm.icon" placeholder="请选择图标">
                    <el-option
                            v-for="item in iconSelectList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="名称" required prop="name">
                <el-input v-model="editForm.name"></el-input>
            </el-form-item>
            <el-form-item label="url" >
                <el-input v-model="editForm.url"></el-input>
            </el-form-item>

            <el-form-item label="idx" >
                <el-input v-model="editForm.idx" type="number"></el-input>
            </el-form-item>

            <el-form-item label="状态" required prop="status">
                <el-radio-group v-model="editForm.status" size="small">
                    <el-radio-button label="1">开启</el-radio-button>
                    <el-radio-button label="2">禁用</el-radio-button>
                </el-radio-group>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="setSubmit('editForm')" >保存</el-button>
                <el-button @click="addMenu.addMenuVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
            //         menus:[{
            //             name:'商品',
            //             icon:'el-icon-location',
            //             index:'1',
            //             child:[{
            //                 name:'商品管理',
            //                 url:'',
            //                 index:'1-1',
            //             },
            //                 {
            //                     name:'商品分类',
            //                     url:'',
            //                     index:'1-2',
            //                 }
            //             ],
            //         },{
            //             name:'订单',
            //             icon:'el-icon-menu',
            //             index:'2',
            //             child:[{
            //                 name:'订单列表',
            //                 url:'',
            //                 index:'2-1',
            //             },
            //                 {
            //                     name:'售后订单',
            //                     url:'',
            //                     index:'2-2',
            //                 }
            //             ],
            //         },{
            //             name:'营销',
            //             icon:'el-icon-document',
            //             index:'3',
            //             child:[{
            //                 name:'购物券',
            //                 url:'',
            //                 index:'3-1',
            //             },{
            //                 name:'会员',
            //                 url:'',
            //                 index:'3-2',
            //             }]
            //         },{
            //         name:'设置',
            //         icon:'el-icon-setting',
            //         index:'4',
            //         child:[{
            //             name:'菜单设置',
            //             url:'',
            //             index:'4-1',
            //         },{
            //             name:'权限设置',
            //             url:'',
            //             index:'4-2',
            //         }]
            //     }
            // ],
                menus:[],
                activeIndex:'1',
                list:[],
                addMenu: {
                    addMenuTitle: "新增菜单",
                    addMenuVisible: false,
                    formLabelWidth: "110px",
                },
                editForm: {
                    pid: '',
                    icon: '',
                    name: '',
                    url: '',
                    status: '1',
                    idx:0,
                },
                editRules: {
                    name: [
                        {required: true, message: '请输入菜单名称', trigger: 'blur'},
                        {min: 2, max: 40, message: '长度在 2 到 5 个字符', trigger: 'blur'}
                    ],
                    status: [
                        {required: true, message: '请选择菜单状态', trigger: 'change'}
                    ],
                    pid: [
                        {required: true, message: '请选择父级菜单', trigger: 'change'}
                    ],

                },
                menuSelectList:[],
                iconSelectList:[
                    {label:'<i class="el-icon-location"></i>',value:'el-icon-location'},
                    {label:'<i class="el-icon-menu"></i>',value:'el-icon-menu'},
                    {label:'<i class="el-icon-document"></i>',value:'el-icon-document'},
                    {label:'<i class="el-icon-setting"></i>',value:'el-icon-setting'},
                ],
            }
        },
        created(){
            this.getMenu();
            this.getMenuList();
            //this.getTopMenuList();
        },
        methods: {
            getMenu(){
                    let that = this;
                    this.$http.get('/oa/menu/menuList').then(function(res){
                        if (res.status == '200') {
                            that.menus = res.body;
                        }
                    },function(){
                        console.log('请求失败处理');
                    });
                },
                loginOut: function () {
                    let that = this;
                    var DjangoCookie = getCookie('csrftoken');
                    that.$http.post('/oa/views/loginOut/','',{headers:{'X-CSRFToken':DjangoCookie}}).then(function(res){
                        if (res.body.code == '1') {
                                location.href='/oa/login/'
                            }else{
                            that.$message({
                                type: 'error',
                                message: res.body.msg
                            });
                        }
                    },function(res){
                        console.log(res);
                    });
                }, 
            routeTo(route){
                //console.log(route);
                location.href=route;
            },
            
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log("multipleSelection", val);
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            getMenuList(){
                let that = this;
                this.$http.get('/oa/menuData/').then(function(res){
                    console.log(res)
                     if (res.status == '200') {
                         that.list = res.body.menu;
                         that.menuSelectList = res.body.menuSelectList;
                     }
                },function(){
                    console.log('请求失败处理');
                });
            },
            // getTopMenuList(){
            //     let that = this;
            //     this.$http.get('/menu/').then(function(res){
            //         if (res.body.code == '1') {
            //             that.menuSelectList = res.data.data;
            //         }
            //     },function(){
            //         console.log('请求失败处理');
            //     });
            // },
            //添加、编辑菜单
            handleEdit(index, row) {
                this.addMenu.addMenuVisible = true;
                if (row) {
                    this.addMenu.addMenuTitle = '编辑';
                    this.editForm = Object.assign({}, row);
                } else {
                    this.addMenu.addMenuTitle = '新增';
                    this.editForm = {
                        pid: '',
                        icon: '',
                        name: '',
                        url: '',
                        status: '1',
                        idx:0,
                    };
                }
                let that = this;
                setTimeout(_ => that.$refs.editForm.clearValidate(), 10)
            },
            setSubmit: function (formName) {
                let that = this;
                
                // var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
                var DjangoCookie = getCookie('csrftoken');
                //that.editForm['csrfmiddlewaretoken']=csrf_token
                that.$refs[formName].validate((valid) => {
                    if (valid) {
                        console.log(that.editForm)
                        // var params = new URLSearchParams()
                        // that.editForm.id && params.append('id',that.editForm.id)
                        // params.append('pid',that.editForm.pid)
                        // params.append('icon',that.editForm.icon)
                        // params.append('name',that.editForm.name)
                        // params.append('url',that.editForm.url)
                        // params.append('status',that.editForm.status)
                        that.$http.post('/oa/menu/save',JSON.stringify(that.editForm),{headers:{'X-CSRFToken':DjangoCookie}}).then(function(res){
                            //console.log(res);
                            if (res.body.code == '1') {
                                 that.addMenu.addMenuVisible = false;
                                 setTimeout(_ => that.$refs.editForm.clearValidate(), 10);
                                 location.reload();
                             }else{
                                that.$message({
                                    type: 'error',
                                    message: res.body.msg
                                });
                            }
                        },function(res){
                           console.log(res);
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            handleDelete(index,row){
                var DjangoCookie = getCookie('csrftoken');
                let that = this;
                that.$confirm('确定删除, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    that.$http.post('/oa/menu/delete/'+row.id,{},{headers:{'X-CSRFToken':DjangoCookie}}).then(function(res){
                        console.log(res);
                        if (res.body.code == '1') {
                            location.reload();
                        }else{
                                that.$message({
                                    type: 'error',
                                    message: '删除失败'
                                });
                            }
                    },function(res){
                        console.log(res);
                    });

                }).catch(() => {
                    that.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
        }
    })
</script>
{% endblock %}

