#header{
    background-color: #464c5c;
    color: #333;
    text-align: center;
    line-height: 60px;
}

#aside {
    /*background-color: #D3DCE6;*/
    background-color: #fff;
    color: #333;
    text-align: center;
    height:560px;
    width:200px;
    /*line-height: 200px;*/
}

#main {
    background-color: #E9EEF3;
    color: #333;
    /*line-height: 160px;*/
    height:560px;
}

body > .el-container {
    margin-bottom: 40px;
}

.head-div{
    width:100%;
    heigh:100%;
    display: flex;
    align-items: center;
}
.webname{
    margin-left:30px;
    font-size: 22px;
    height: 100%;
    width:120px;
    display: flex;
    align-items: center;
    color: #fff;
}
.title{
    margin-left:22px;
    color: #fff;
}
.title label{
    margin-left: 20px;
}

.middiv{
    flex:1;
}
.photo{
    display: inline-flex;
    align-items: center;
    color: #fff;
    margin-right: 30px;
}
.photo img{
    width:40px;
    height:40px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
